<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style type="text/css">
			.father{
				width:80%;
				height:400px;
				margin:100px auto;
				border: 1px solid #000;
			}
			.left{
				float: left;
				width:200px;
				height:400px;
				background-color:green;
			}
			.right{
				margin-left:210px;
				height:400px;
				background-color:orange;
			}
        </style>
    </head>
    <body>
    	<div class="father">
    		<div class="left"></div>
    		<div class="right"></div>
    	</div>
    </body>
</html>