<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style type="text/css">
			.father{
				width:90%;
				height:400px;
				border: 1px solid #000;
				margin:100px auto;
			}
			.left{
				width:200px;
				height:400px;
				float: left;
				background-color:green;
			}
			.right{
				width:200px;
				height:400px;
				float: right;
				background-color:blue;
			}
			.center{
				margin:0 210px;
				height:400px;
				background-color:orange;
			}
        </style>
    </head>
    <body>
    	<div class="father">
    		<div class="left"></div>
    		<div class="right"></div>
    		<div class="center"></div>
    	</div>
    </body>
</html>