<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <title>携程在手，说走就走</title>
</head>

<body>
    <!-- 头部开始 -->
    <div class="search-index">
        <div class="search">
            搜索:目的地/酒店/景点/航班号
        </div>
        <a href="#" class="user">
            我 的
        </a>
    </div>
    <!-- 焦点图 -->
    <div class="focus">
        <ul>
            <li>
                <a href="#"><img src="upload/focus.jpg" alt=""></a>
            </li>
        </ul>
    </div>
    <!-- 小导航栏 -->
    <ul class="local-nav">
        <li>
            <a href="#" title="景点.玩乐">
                <span class="local-nav-ico1"></span>
                <span>景点.玩乐</span>
            </a>
        </li>
        <li>
            <a href="#" title="周边游">
                <span class="local-nav-ico2"></span>
                <span>周边游</span>
            </a>
        </li>
        <li>
            <a href="#" title="美食林">
                <span class="local-nav-ico3"></span>
                <span>美食林</span>
            </a>
        </li>
        <li>
            <a href="#" title="一日游">
                <span class="local-nav-ico4"></span>
                <span>一日游</span>
            </a>
        </li>
        <li>
            <a href="#" title="当地攻略">
                <span class="local-nav-ico5"></span>
                <span>当地攻略</span>
            </a>
        </li>
    </ul>
    <!-- nav -->
    <nav>
        <div class="nav-common">
            <div class="nav-items">
                <a href="#">酒店</a>
            </div>
            <div class="nav-items">
                <a href="#">海外酒店</a>
                <a href="#">特价酒店</a>
            </div>
            <div class="nav-items">
                <a href="#">团购</a>
                <a href="#">民栈.客栈</a>
            </div>
        </div>
        <div class="nav-common">
            <div class="nav-items">
                <a href="#">酒店</a>
            </div>
            <div class="nav-items">
                <a href="#">海外酒店</a>
                <a href="#">特价酒店</a>
            </div>
            <div class="nav-items">
                <a href="#">团购</a>
                <a href="#">民栈.客栈</a>
            </div>
        </div>
        <div class="nav-common">
            <div class="nav-items">
                <a href="#">酒店</a>
            </div>
            <div class="nav-items">
                <a href="#">海外酒店</a>
                <a href="#">特价酒店</a>
            </div>
            <div class="nav-items">
                <a href="#">团购</a>
                <a href="#">民栈.客栈</a>
            </div>
        </div>
    </nav>
    <!-- subnav -->
    <ul class="subnav-entry">
        <li>
            <a href="#" title="Wifi电话卡">
                <span class="subnav-ico-ico1"></span>
                <span>Wifi电话卡</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="subnav-ico-ico2"></span>
                <span>保签.签证</span>
            </a>
        </li>
        <li>
            <a href="#" title="外币兑换">
                <span class="subnav-ico-ico3"></span>
                <span>外币兑换</span>
            </a>
        </li>
        <li>
            <a href="#" title="购物">
                <span class="subnav-ico-ico4"></span>
                <span>购物</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="subnav-ico-ico5"></span>
                <span>Wifi电话卡</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="subnav-ico-ico6"></span>
                <span>Wifi电话卡</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="subnav-ico-ico7"></span>
                <span>Wifi电话卡</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="subnav-ico-ico8"></span>
                <span>Wifi电话卡</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="subnav-ico-ico9"></span>
                <span>Wifi电话卡</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="subnav-ico-ico10"></span>
                <span>Wifi电话卡</span>
            </a>
        </li>
    </ul>
    <!-- 活动模块 -->
    <div class="sales-box">
        <div class="sales-hd">
            <h3>
                热门活动
                <span class="at"></span>
            </h3>
            <a href="#" class="more">获取更多福利</a>
        </div>
        <div class="sales-bd">
            <div class="row">
                <a href="#">
                    <img src="upload/n1.png" alt="">
                </a>
                <a href="#">
                    <img src="upload/n2.png" alt="">
                </a>
            </div>
            <div class="row">
                <a href="#">
                    <img src="upload/n3.jpg" alt="">
                </a>
                <a href="#">
                    <img src="upload/pic4.jpg" alt="">
                </a>
            </div>
            <div class="row">
                <a href="#">
                    <img src="upload/pic5.jpg" alt="">
                </a>
                <a href="#">
                    <img src="upload/pic6.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- 底部导航 -->
    <div class="fotter-nav">
        <a href="#">
            <span class="fotter-ico-ico1"></span>
            <span>电话预订</span>
        </a>
        <a href="#">
            <span class="fotter-ico-ico2"></span>
            <span>下载客户端</span>
        </a>
        <a href="#">
            <span class="fotter-ico-ico3"></span>
            <span>我 的</span>
        </a>
    </div>
    <!-- link -->
    <div class="link">
        <a href="#">网站地图</a>
        <a href="#" class="yuyan">Language</a>
        <a href="#">电脑版</a>
    </div>
</body>

</html>